<div>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <a class="brand" data-bind="attr: { href: router.navigationModel()[0].hash }">
                <i class="icon-home"></i>
                <span>Mortgage App</span>
            </a>

            <div class="loader pull-right" data-bind="css: { active: router.isNavigating }">
                <i class="icon-spinner icon-2x icon-spin"></i>
            </div>

        </div>
    </div>
    
    <div class="container page-host" data-bind="router: { transition:'entrance', cacheViews:false }"></div>
</div>